.chat-input {
  display: flex;
  align-items: center;
  gap: 16px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__attachments {
    padding-left: 48px;
  }

  i {
    font-size: 24px;
  }

  .icon-add {
    color: var(--ion-color-suva-gray);
    cursor: pointer;
  }

  &__icon {
    color: #888;
  }

  &__text-message {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    box-shadow: 0 0 8px #e6e6e626;
    border-radius: 12px;
    margin-right: 0;
    background: var(--ion-color-white-smoke);
    width: 100%;
    gap: 8px;
    height: 40px;
    padding-right: 8px;

    textarea {
      height: 40px;
      padding-top: 12px !important;
      padding-left: 16px !important;
    }
  }

  &__send {
    height: 28px;
    width: 28px;
    border-radius: 8px;
    background-color: var(--pinger-app-primary);

    i {
      font-size: 28px;
      color: var(--ion-color-white-smoke);
    }

    &:disabled {
      background-color: var(--ion-color-gray-light1);
    }
  }

  &__attach-item {
    cursor: pointer;

    i {
      margin-right: 8px;
    }
  }
}
