.header {
  background-color: var(--pinger-app-primary);
  display: flex;
  align-items: center;
  flex-shrink: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 5;
  height: 60px;
  --padding-start: 0;
  --padding-top: 0;
  --inner-padding-start: 0;
  --inner-padding-end: 0;
  padding: 0 16px;
  justify-content: space-between;

  h1 {
    color: white;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    font-size: 1rem;
    margin-bottom: 20px;
    padding-left: 16px;
  }

  &__right {
    display: flex;
    align-items: center;

    i {
      font-size: 40px;
      color: white;
      cursor: pointer;
    }
  }
}

.content {
  height: 100vh;
  padding-top: 60px;
}
