.loading {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--ion-color-white-smoke);
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
}
